/* Basic setup for the whole webpage */
body {
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0px;
    background-color: lightgray;
    height: 100%;
}
/* Styling for main content */
.content {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
}
/* Styling for side-bar */
.side-bar {
    margin: 0px;
    height: 100vh;
}

/* Styling for image in side-bar */
.image {
    width: 30vw;
    height: 100vh;
    object-fit: cover;
}
/* Styling for form header */
.lets {
    font-size: 30px;
}

/* Styling for form content */
.form-content {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    margin: 0px;
    padding-left: 40px;
    padding-bottom: 40px;
}
/* Styling for form inputs */
.inputs {
    width: 20em;
    display: inline-block;
    padding: 10px;
    position: relative;
    padding: 10px;
    margin-right: 10px;
}
/* Styling for labels */
label {
    display: block;
}
/* Styling for input fields */
input {
    height: 2.5vh;
    min-width: 150px;
    width: 15vw;
    max-width: 300px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
/* Styling for input rows */
.input-row {
    display: flex;
    justify-content: space-between;
}
/* Styling for introductory paragraphs */
.p {
    font-size: 2em;
    margin-left: 40px;
    width: 80%;
}
/* Styling for footer */
.footer {
    margin-top: 40px;
    margin-left: 40px;
}
/* Styling for create account button */
.create {
    background-color: green;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
}

/* Styling for required field notices */
.req {
    display: none;
    color: red;
    padding: none;
    margin: none;
    position: absolute;
    font-size: 12px;
    bottom: -18px;
}
/* Responsive styling for smaller screens */
@media (max-width: 600px) {
    .p {
        font-size: 1.5em;
    }
    .input-row {
        flex-direction: column;
    }
    .inputs {
        width: 100%;
        max-width: 100%;
    }
    .image, .side-bar {
        width: 0vw;
    }
}